EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USERNAME=your_brevo_smtp_login_here
EMAIL_PASSWORD=your_brevo_smtp_key_here
EMAIL_FROM=your_verified_sender_email_here
EMAIL_TO=recipient_email_here